body{
	margin:0;
	font-family: 'Noto Sans KR', sans-serif;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
li {
	display: inline;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
}
.over{
	display: none;
}
.wrapper:after,#menu-container:after{ 
	content:""; 
	clear:both; 
	display:block; 
}
header,main{
	width:95%;
	margin:0 auto;
	/*border: 1px solid gray;*/
}
#menu-container,#menu-container .title,#menu-container .menu{
	height: 60px;
	line-height: 60px;
	/*border: 1px solid gray;*/
}

#menu-container .title{
	font-size: 1.8rem;
	/*border: 1px solid gray;*/
	display: inline-block;
}

#menu-container .menu{
	float:right;
	/*border: 1px solid gray;*/
}

#list-container .list{
	margin:5px auto;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f4f3f8;
}
#list-container .title{
	font-size: 1rem;
	color: #aaaaaa;
}
#list-container .myProfile{
	width:70px;
	/*border: 1px solid gray;*/
	display: inline-block;

	/*border-radius: 20px;*/
}
#list-container .profile{
	width:60px;
	/*border: 1px solid gray;*/
	display: inline-block;

}

#list-container .myProfile img{
	width:100%;
	border-radius: 25px;

}
 #list-container .profile img{
	width:100%;
	border-radius: 22px;
 }

#list-container .myName{
	font-size: 1.2rem;
}
#list-container .myName,#list-container .name{
	/*border: 1px solid gray;*/
	display: inline-block;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: 5px;
}
#tab-container{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	/*border: 1px solid gray;*/
}
footer{
	position: fixed;
	bottom:0;
	height:  55px;
	width: 100%;
	/*border: 1px solid gray;*/
	border-top: 1px solid #f4f3f8;
	background-color: #fafafc;
}

